{% extends 'base.html' %}

{% block content %}
<h2 class="subtitle is-2">Registrar Animal</h2>
<form method="post">
    <div class="field">
        <label for="titulo">Titulo:</label>
        <div class="control">
            <input type="text" id="name" name="titulo" required class="input" >
        </div>
    </div>
    <div class="field">
        <label for="autor">Autor:</label>
        <div class="control">
            <input type="text" id="species" name="autor" required class="input" >
        </div>
    </div>
    <div class="field">
        <label for="edicion">Edicion:</label>
        <div class="control">
            <input type="number" id="age" name="edicion" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="disponibilidad">disponibilidad:</label>
        <div class="control">
            <input type="number" id="age" name="disponibilidad" required class="input" >
        </div>
    </div>
    <input type="submit" value="Guardar Cambios" class="button is-primary">
</form>
{% endblock %}
